* {
	font-family: "Dosis"
}
.a {
	font-size: 44px;
}
.a2 {
	font-size: 30px;
}
.a .a2 {
	font-family: "Open Sans";
}
/*TEXTO*/
a {
	text-decoration: none;
}
button {
	border: none;
	border-radius: 20px;
}
p {
	text-align: justify;
}
/*MARGENES*/
.mr_1 {
	margin-top: 3%;
}
.mr_2 {
	margin-top: 5%;
}
.mr_2P {
	margin-bottom: 5%;
}
.mr_3 {
	margin-top: 7%;
}
.mr_4 {
	margin-left: 3%;
}
.mr_5 {
	margin-left: 3%;
}
.mr_6 {
	margin-top: 17%;
}
/*FONDO*/
.black {
	background-color: black;
}
.pre {
	font-size: 12px;
}
/*ICONOS*/
.icn {
	display: inline-block;
	margin-right: 5px;
}