/*ENCABEZADO*/
.black {
	background-color: black;
}
/*MENU*/
.color {
	color: white;
	padding-right: 6%;
}
.color:hover {
	color: #DF0174;
}
/*SECCION 2*/
/*MENÚ PEQUEÑO*/
.colorII {
	color: black;
	padding-left: 3%;
}
.colorII:hover {
	color: gray;
}
hr {
	border-style: dashed;
}
/*IMAGENES*/
.letraA {
	font-size: 15px;	
}
.icon1 {
	width: 17px;
}
/*FRASE*/
.frase {
	font-size: 25px;
}
.bur {
	width: 50px;
	vertical-align: top;
}
/*FOOTER*/
/*MENÚ */
.b1 {
	padding: 0% 2%;
	width: 17%;
	background-color:#BDBDBD;
}
.b2 {
	padding: 1% 1% 3% 1%;
	width: 190px;
	height: 40px;
	background-color: gray;
	font-size: 18px;
}
li {
	list-style:none;
}
.icon {
	border: 1px dashed white;
	border-radius: 100%;
	width: 30px;
	padding: 1%;
	height: 30px;
	display: inline-block;

}
/*Clientes*/
.comilla {
	font-size: 60px;
}
.style {
	border-style: solid;
}
/*Twitter*/
.roja {
	color: #DF0174;
}
.follow0 {
	background-color: gray;
	padding: 3% 6%;
	border-radius: 5%;
}
.follow {
	background-color: #DF0174;
	border-radius: 5%;
	width: 65%;
}
/*Formulario*/
.envio {
	display: inline-block;
	border: 1px solid white;
	padding: 2%;
}
input+button {
	padding: 1%;
	border-radius: 0;
	background-color: black;
	color: white;
}
/*Telefono*/
.tel {
	font-size: 23px;
}